:root {
  /* *Gruvbox Palette, from: https://github.com/morhetz/gruvbox*
    
    **Common colors**
    
    --red0: #cc241d;
    --green0: #98971a;
    --yellow0: #d79921;
    --blue0: #458588;
    --purple0: #b16286;
    --aqua0: #689d6a;
    --gray0: #928374;
    --gray1: #928374;
    --orange0: #d65d0e;
    
    **Dark mode**
    --bg0_h: #1d2021;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --bg0_s: #32302f;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
    --gray3: #a89984;
    --red1: #fb4934;
    --green1: #b8bb26;
    --yellow1: #fabd2f;
    --blue1: #83a598;
    --purple1: #d3869b;
    --aqua1: #8ec07c;
    --orange1: #fe8019;
    
    
    **Light mode**
    
    --bg0_h: #f9f5d7;
    --bg0: #fbf1c7;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --bg0_s: #f2e5bc;
    --fg0: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;
    --gray3: #7c6f64;
    --red1: #9d0006;
    --green1: #79740e;
    --yellow1: #b57614;
    --blue1: #076678;
    --purple1: #8f3f71;
    --aqua1: #427b58;
    --orange1: #af3a03;
   */

  /**Common colors**/
  --red0: #cc241d;
  --green0: #98971a;
  --yellow0: #d79921;
  --blue0: #458588;
  --purple0: #b16286;
  --aqua0: #689d6a;
  --gray0: #928374;
  --gray1: #928374;
  --orange0: #d65d0e;

  /**Mode**/
  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
  --bg0_s: #32302f;
  --bgD: #282828;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
  --fgD: #ebdbb2;
  --gray2: #a89984;
  --red1: #fb4934;
  --green1: #b8bb26;
  --yellow1: #fabd2f;
  --blue1: #83a598;
  --purple1: #d3869b;
  --aqua1: #8ec07c;
  --orange1: #fe8019;

  --shadow-dark: rgba(0,0,0,0.3);
  --shadow-light: rgba(255,255,255,0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono.ttf);
}

@font-face {
  font-family: Onest;
  src: url(./assets/fonts/OnestSanSerif.ttf);
}

@font-face {
  font-family: YoungSerif;
  src: url(./assets/fonts/YoungSerif.ttf);
}

body {
    font-family: Onest;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 380px;
    height: 80vh;
    background-color: var(--blue0);
    border-radius: 20px;
    box-shadow:  10px 10px 10px var(--shadow-dark);
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 0 0 20px 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location {
    color: var(--fg0);
    text-align: center;
    font-size: 1.2rem;
}
.temperature {
    color: var(--fg0);
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

.more-info-label {
    color: var(--fg0);
    display: flex;
    justify-content: center;
}

.more-info-container {
    flex: 1;
    background-color:  var(--shadow-light);
    border-radius: 0 0 20px 20px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-block-label img {
    width: 2rem;
}
.info-block-label span {
    color: var(--fg0);
    font-size: 0.8rem;
}
.info-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--fg0);
}